<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deeyatt.freshmarket">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreshMarket"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".menu_sembako"
            android:exported="false" />
        <activity
            android:name=".menu_frozenfood"
            android:exported="false" />
        <activity
            android:name=".menu_daging"
            android:exported="false" />
        <activity
            android:name=".menu_buah"
            android:exported="false" />
        <activity
            android:name=".Activity_untuk_Menu"
            android:exported="false" />
        <activity
            android:name=".menu_sayuran"
            android:exported="false" />
        <activity
            android:name=".TentangKami"
            android:exported="false" />
        <activity
            android:name=".HubungiKami"
            android:exported="false" />
        <activity
            android:name=".PengaturanNotifikasi"
            android:exported="false" />
        <activity
            android:name=".PengaturanAkunActivity"
            android:exported="false" />
        <activity
            android:name=".PesananPage"
            android:exported="false" />
        <activity
            android:name=".VoucherPage"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".homepage"
            android:exported="false" />
        <activity
            android:name=".resetpassword_berhasil"
            android:exported="false" />
        <activity
            android:name=".resetpassword2"
            android:exported="false" />
        <activity
            android:name=".resetpassword"
            android:exported="false" />
        <activity
            android:name=".verifikasiotp_page"
            android:exported="false" />
        <activity
            android:name=".daftarakunpage"
            android:exported="false" />
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".onboarding_satu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>